body{
    background: linear-gradient(90deg, rgba(213,69,255,1) 0%, rgba(0,255,141,1) 100%);
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Opcional: fija la imagen en su lugar */
}

#nav {
    width: 60px;
    height: 50px;
    margin:0 auto; /* Centra horizontalmente y verticalmente */
    z-index: 1000; 
}

#nav:hover{
    width: 170px;
}

#nav:hover .navbar-collapse {
    display: block !important;
    }

#nav .navbar-collapse {
    display: none !important;
}

a{
    font-size: 25px !important;
}
#nav a:hover {
    color: white;

}
.vh-50{
height: 40vh;
}

h1{
    font-size: 300% !important;
    color: rgb(255, 255, 255) !important;
    background-color: rgba(255, 255, 255, 0.308);
    width: 480px !important;
    margin: 0 auto;
    border-radius: 5px;
}

h2{
    margin: 0 auto;
    color: rgb(255, 255, 255) !important;
    background-color: rgba(240, 248, 255, 0);
    width: 200px;
}

p{
    color: rgb(255, 255, 255);
    background-color: rgba(240, 248, 255, 0);
    border-radius: 1px;
    border: solid 1px;
    border-color: black;
    width: 70%;
    margin: 0 auto;
    font-size: 170%;
    padding: 5px;
} 

hr{
    width: 70% !important;
    margin: 100px auto !important;
    border-width: 5px !important; /* Cambia el grosor a 2 píxeles */
    border-color: #ae00ffc9 !important; /* Cambia el color del borde si es necesario */
}

form{
    margin: 0 auto ;
    border-radius: 10px;
    border: solid 2.5px;
    border-color: rgb(0, 0, 0);
    padding: 20px 10px;
    width: 300px;
}

input{
    padding: 3px !important;
    width: 200px;
    border-radius: 5px;
}
textarea{
    width: 200px;
    border-radius: 5px;
}
label{
    color: rgb(0, 0, 0) !important;
    font-size: 150% !important;
    background-color: rgba(240, 248, 255, 0);
    margin: 5px;
}

#carouselExampleIndicators{
    margin: 10px auto;
    width: 65% !important;
    border-radius: 10px;
}

#enlaces a{
    padding: 1%;
}


a{
    color: rgb(247, 247, 247) !important;
}

a:hover{
    color: rgb(0, 0, 0) !important;
}


img.img-contacto{
    width: 8%;
    margin: 90px 5% 0 5%;
    padding-bottom: 50px;
    cursor: pointer;
}

img.img-contacto:hover{
    transform: translateY(-10px);
}

.btn-light{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(0, 0, 0) !important;
}

.btn-light:hover{
    background-color: rgba(0, 0, 0, 0.408) !important;
    color: white !important;
}