.space-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/galaxia.jpg) center/cover fixed;
    z-index: -1;
    animation: parallax 40s linear infinite;
}

.content {
    z-index: 1;
    position: relative;
    color: white;
}

@keyframes parallax {
    0%, 100% {
        background-position: 50% 0;
    }
    50% {
        background-position: 50% 100%;
    }
}


#nav {
    width: 60px;
    height: 50px;
    margin:0 auto; /* Centra horizontalmente y verticalmente */
    z-index: 1000; 
}

#nav:hover{
    width: 170px;
}

#nav:hover .navbar-collapse {
    display: block !important;
    }

#nav .navbar-collapse {
    display: none !important;
}

a{
    font-size: 25px !important;
}
#nav a{
    color: rgb(255, 255, 255);

}

#nav a:hover {
    color: rgb(154, 154, 154);

}
.vh-50{
height: 40vh;
}

h1{
    color: rgb(0, 0, 0) ;
    background-color: rgba(255, 255, 255, 0.836);
}

h2{
    color: rgb(255, 255, 255) ;
}

p{
    color: rgb(255, 255, 255);
    background-color: rgba(69, 69, 69, 0.692);
    border-radius: 10px;
    border: solid 1px;
    border-color: black;
    margin: 0 auto;
    font-size: 170%;
} 
.p-carrusel{
    border: none !important;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.273);
    width: 300px;
}
hr{
    margin: 30px auto !important;
    color: transparent !important;
}

form{
    margin: 0 auto ;
    border-radius: 10px;
    padding: 15px 10px 30px 10px;
    width: 300px;
}

input{
    padding: 3px !important;
    width: 200px;
    border-radius: 5px;
}
textarea{
    width: 200px;
    height: 100px;
    border-radius: 5px;
}
label{
    color: rgb(255, 255, 255) !important;
    font-size: 150% !important;
    background-color: rgba(69, 69, 69, 0.692);
    border-radius: 5px;
    margin: 5px;
    padding-right:10px ;
    padding-left: 10px;
}

a.flechas {
    color: white;
    font-size: 150px !important; /* Ajusta el tamaño del texto según tu preferencia */
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block; /* Permite animaciones en línea */
    animation: moveUpDown 1s infinite alternate; /* Agrega la animación */
}

@keyframes moveUpDown {
    from {
        transform: translateY(-10px); /* Mueve hacia arriba 5px desde la posición original */
    }
    to {
        transform: translateY(10px); /* Mueve hacia abajo 5px desde la posición original */
    }
}
o
#enlaces a{
    padding: 1%;
}


a.link{
    color: rgb(247, 247, 247) !important;
}

a.link:hover{
    color: rgb(154, 154, 154) !important;
}


img.img-contacto{
    width: 5%;
    margin: 90px 5% 0 5%;
    padding-bottom: 50px;
    cursor: pointer;
}

img.img-contacto:hover{
    transform: translateY(-10px);
}

.btn-light{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.71) !important;
    color: rgb(0, 0, 0) !important;
}

.btn-light:hover{
    background-color: rgba(255, 255, 255, 0.408) !important;
    color: white !important;
}

img.imagen-perfil {
    width: 200px;
    height: 200px; /* Establecer la altura igual al ancho para hacerla cuadrada */
    border-radius: 50%; /* Hacer un borde redondeado para lograr una apariencia circular */
    object-fit: cover; /* Controlar cómo la imagen se ajusta al contenedor */
    margin-bottom: 15px;
}


@media (min-width: 992px) {
    /* Pantallas grandes (lg) */
    img.img-contacto{
        width: 70px;
        margin: 90px 5% 0 5%;
        padding-bottom: 50px;
        cursor: pointer;
    }
    #carouselExampleIndicators{
        margin: 10px auto;
        width: 70% !important;
        border-radius: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Pantallas medianas (md) */
    img.img-contacto{
        width: 50px;
    }
    #carouselExampleIndicators{
        margin: 10px auto;
        width: 70% !important;
        border-radius: 10px;
    }
}

@media (max-width: 767px) {
    /* Pantallas pequeñas (sm) */
    img.img-contacto{
        width: 50px;
    }
    #carouselExampleIndicators{
        margin: 10px auto;
        width: 100% !important;
        border-radius: 10px;
    }
}

/* Estilos para WebKit (Chrome, Safari, nuevos Edge) */
/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
}

/* Track (fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Puedes ajustar el color según tu preferencia */
}

/* Punto de agarre (barra de desplazamiento en sí) */
::-webkit-scrollbar-thumb {
    background-color: #000; /* Color de la barra de desplazamiento */
}

/* Estilos para Firefox */
/* Barra de desplazamiento */
::-moz-scrollbar {
    width: 12px;
}

/* Track (fondo de la barra de desplazamiento) */
::-moz-scrollbar-track {
    background-color: #1e1e1e; /* Puedes ajustar el color según tu preferencia */
}

/* Punto de agarre (barra de desplazamiento en sí) */
::-moz-scrollbar-thumb {
    background-color: #000; /* Color de la barra de desplazamiento */
}




